In [1]:
import pandas as pd

In [2]:
dfx=pd.read_csv('C:/Users/udipt/Desktop/Websoft/Performance/Independent_vars.csv')
dfy=pd.read_csv('C:/Users/udipt/Desktop/Websoft/Performance/Comparison.csv')

In [3]:
dfx.head()

,Unnamed: 0,sl_number,ID,event_timestamp,log_timestamp,log_reading_1,log_reading_3,log_reading_4,Type_TypeA,Type_TypeB,log_reading_2_a,log_reading_2_b,log_reading_2_c,warranty_service_flag_y
0,0,13877,549783,1594922787,1437030415,10,10,6,0,1,1,0,0,0
1,1,6815,95321,1359908656,1434251185,10,10,6,0,1,1,0,0,0
2,2,9851,724307,1473380907,1435461182,10,6,8,1,0,1,0,0,0
3,3,16012,702211,1441476449,1437718017,10,10,7,1,0,1,0,0,0
4,4,130,709365,1431615901,1432285540,10,10,10,1,0,1,0,0,0

In [4]:
dfy.head()

   Unnamed: 0  predicted_probabilities  actual_values  decile_rank
0        1866                 0.998291              1            9
1        1420                 0.997538              1            9
2         634                 0.997482              0            9
3         278                 0.997222              1            9
4        1798                 0.996950              1            9

In [5]:
final_df=pd.merge(left=dfx,right=dfy,left_on='Unnamed: 0',right_on='Unnamed: 0')

In [6]:
final_df.head()

,Unnamed: 0,sl_number,ID,event_timestamp,log_timestamp,log_reading_1,log_reading_3,log_reading_4,Type_TypeA,Type_TypeB,log_reading_2_a,log_reading_2_b,log_reading_2_c,warranty_service_flag_y,predicted_probabilities,actual_values,decile_rank
0,0,13877,549783,1594922787,1437030415,10,10,6,0,1,1,0,0,0,0.268436,1,4
1,1,6815,95321,1359908656,1434251185,10,10,6,0,1,1,0,0,0,0.001291,1,0
2,2,9851,724307,1473380907,1435461182,10,6,8,1,0,1,0,0,0,0.704080,0,8
3,3,16012,702211,1441476449,1437718017,10,10,7,1,0,1,0,0,0,0.281567,1,4
4,4,130,709365,1431615901,1432285540,10,10,10,1,0,1,0,0,0,0.011931,0,2

In [7]:
final_df=final_df.drop(columns='Unnamed: 0')
final_df.columns

Index(['sl_number', 'ID', 'event_timestamp', 'log_timestamp', 'log_reading_1',
       'log_reading_3', 'log_reading_4', 'Type_TypeA', 'Type_TypeB',
       'log_reading_2_a', 'log_reading_2_b', 'log_reading_2_c',
       'warranty_service_flag_y', 'predicted_probabilities', 'actual_values',
       'decile_rank'],
      dtype='object')

In [8]:
final_df.sort_values('predicted_probabilities',ascending=False)

,sl_number,ID,event_timestamp,log_timestamp,log_reading_1,log_reading_3,log_reading_4,Type_TypeA,Type_TypeB,log_reading_2_a,log_reading_2_b,log_reading_2_c,warranty_service_flag_y,predicted_probabilities,actual_values,decile_rank
1866,2577,320491,1600747211,1432962455,10,10,8,0,1,1,0,0,0,0.998291,1,9
1420,8617,567347,1600747211,1435046916,9,7,10,1,0,0,1,0,0,0.997538,1,9
634,5779,710785,1600735958,1433923795,8,8,4,0,1,1,0,0,0,0.997482,0,9
278,13849,641089,1600747211,1437023295,10,10,4,0,1,1,0,0,0,0.997222,1,9
1798,3802,711257,1600747211,1433311598,1,1,6,1,0,0,0,1,1,0.996950,1,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3036,14171,769893,1436997274,1437116740,10,10,5,0,1,1,0,0,0,0.000302,0,0
503,9759,754589,1435352232,1435482678,10,10,2,1,0,1,0,0,0,0.000221,0,0
2241,11757,762451,1436126707,1436170482,10,10,5,1,0,1,0,0,0,0.000165,0,0
177,9846,752283,1435450389,1435544096,10,10,5,1,0,1,0,0,0,0.000134,0,0
1594,15766,759339,1435955279,1437894414,10,6,5,0,1,1,0,0,0,0.000110,0,0

In [9]:
final_df.groupby('decile_rank')[final_df.columns].mean()

,sl_number,ID,event_timestamp,log_timestamp,log_reading_1,log_reading_3,log_reading_4,Type_TypeA,Type_TypeB,log_reading_2_a,log_reading_2_b,log_reading_2_c,warranty_service_flag_y,predicted_probabilities,actual_values,decile_rank
decile_rank,,,,,,,,,,,,,,,,
0,8627.860412,541447.196796,1.414745e+09,1.435005e+09,9.272311,9.372998,5.844394,0.496568,0.503432,0.821510,0.118993,0.038902,0.029748,0.002029,0.009153,0.0
1,8125.717890,564913.885321,1.416514e+09,1.434857e+09,9.256881,9.325688,5.791284,0.543578,0.456422,0.846330,0.084862,0.059633,0.034404,0.005195,0.011468,1.0
2,7754.513761,542776.972477,1.417162e+09,1.434759e+09,9.137615,9.282110,5.990826,0.529817,0.470183,0.788991,0.107798,0.087156,0.052752,0.012468,0.027523,2.0
3,7998.338673,512255.787185,1.423839e+09,1.434851e+09,9.032037,9.089245,5.949657,0.530892,0.469108,0.782609,0.102975,0.107551,0.059497,0.042550,0.116705,3.0
4,8054.958716,450233.050459,1.456529e+09,1.434883e+09,8.899083,9.121560,5.878440,0.522936,0.477064,0.706422,0.162844,0.112385,0.071101,0.191407,0.458716,4.0
5,8244.899314,459465.471396,1.482170e+09,1.434937e+09,8.935927,9.162471,6.164760,0.542334,0.457666,0.695652,0.178490,0.107551,0.073227,0.372335,0.613272,5.0
6,8216.369266,460811.325688,1.489761e+09,1.434909e+09,9.073394,9.213303,5.922018,0.518349,0.481651,0.745413,0.126147,0.112385,0.066514,0.505222,0.594037,6.0
7,7688.660550,487115.412844,1.494592e+09,1.434726e+09,9.089450,9.261468,6.389908,0.509174,0.490826,0.745413,0.133028,0.089450,0.061927,0.623521,0.548165,7.0
8,7856.403670,496523.788991,1.506258e+09,1.434749e+09,9.160550,9.240826,6.598624,0.580275,0.419725,0.782110,0.126147,0.071101,0.048165,0.729324,0.497706,8.0
9,8414.597254,551285.137300,1.525076e+09,1.434980e+09,8.759725,8.894737,7.295195,0.560641,0.439359,0.773455,0.132723,0.089245,0.059497,0.870321,0.537757,9.0

In [10]:
l=[]
for i in final_df.columns:
    if i!='sl_number' and i!='ID' and i!='decile_rank':
        l.append(i)

In [11]:
final_df.groupby('decile_rank')[l].mean()

,event_timestamp,log_timestamp,log_reading_1,log_reading_3,log_reading_4,Type_TypeA,Type_TypeB,log_reading_2_a,log_reading_2_b,log_reading_2_c,warranty_service_flag_y,predicted_probabilities,actual_values
decile_rank,,,,,,,,,,,,,
0,1.414745e+09,1.435005e+09,9.272311,9.372998,5.844394,0.496568,0.503432,0.821510,0.118993,0.038902,0.029748,0.002029,0.009153
1,1.416514e+09,1.434857e+09,9.256881,9.325688,5.791284,0.543578,0.456422,0.846330,0.084862,0.059633,0.034404,0.005195,0.011468
2,1.417162e+09,1.434759e+09,9.137615,9.282110,5.990826,0.529817,0.470183,0.788991,0.107798,0.087156,0.052752,0.012468,0.027523
3,1.423839e+09,1.434851e+09,9.032037,9.089245,5.949657,0.530892,0.469108,0.782609,0.102975,0.107551,0.059497,0.042550,0.116705
4,1.456529e+09,1.434883e+09,8.899083,9.121560,5.878440,0.522936,0.477064,0.706422,0.162844,0.112385,0.071101,0.191407,0.458716
5,1.482170e+09,1.434937e+09,8.935927,9.162471,6.164760,0.542334,0.457666,0.695652,0.178490,0.107551,0.073227,0.372335,0.613272
6,1.489761e+09,1.434909e+09,9.073394,9.213303,5.922018,0.518349,0.481651,0.745413,0.126147,0.112385,0.066514,0.505222,0.594037
7,1.494592e+09,1.434726e+09,9.089450,9.261468,6.389908,0.509174,0.490826,0.745413,0.133028,0.089450,0.061927,0.623521,0.548165
8,1.506258e+09,1.434749e+09,9.160550,9.240826,6.598624,0.580275,0.419725,0.782110,0.126147,0.071101,0.048165,0.729324,0.497706
9,1.525076e+09,1.434980e+09,8.759725,8.894737,7.295195,0.560641,0.439359,0.773455,0.132723,0.089245,0.059497,0.870321,0.537757

## from above output, it seems that event_timestamp and log_reading_4 have significant impact on the target variable